
p#pogrubienie_milcewicz {
  font-size: 34px;
  color: #801ED0;  
}
p#pochylona_milcewicz {
  font-size: 39pt; 
  color: #F18466;  
}
p#index_gorny_milcewicz {
  font-size: 1.4cm; 
  color: #96322F;  
}
p#index_dolny_milcewicz {
  font-size: 2.3cm;
  color: rgb(48%, 97%, 88%);
}
p#mono_milcewicz {
  font-size: 44px; 
  color: #1419CE;  
}

p#powiekszenie_milcewicz {
  color: #4B2D96;  
}
p#pomniejszenie_milcewicz {
  color: rgb(70%, 65%, 20%); 
}


